input{
  padding: 0.8rem;
  border-radius:7rem ;
  width:16rem;
  font-size: 1.0rem;
}
input:focus{
  background-color: rgb(211, 220, 155);
}
h1{
  text-align: center;
  font-size:3rem;
  padding:1rem;
  color: rgb(44, 10, 75);
}